extends layout

block content
    section
        h1.title Ver Preguntas
        div.question-list-section
            each q in questions
                div.question-container.card-panel
                    h5.question-title #{q.pregunta}
                    table
                        tr
                            td Respuesta:
                            td #{q.respuesta_correcta}
                        tr
                            td Respuesta Alternativa 1:
                            td #{q.respuesta1}
                        tr
                            td Respuesta Alternativa 2:
                            td #{q.respuesta2}
                        tr
                            td Respuesta Alternativa 3:
                            td #{q.respuesta3}
                        tr
                            td Respuesta Alternativa 4:
                            td #{q.respuesta4}
                        tr
                            td Explicación:
                            td #{q.explicacion}
                        tr
                            td Categoría:
                            td #{q.nom_categoria}
                        if q.nombre_imagen
                            tr
                                td Imagen:
                                td #[a(class="modal-trigger" href="#modal") #[img(src="/images/"+q.nom_categoria + "/" + q.nombre_imagen)] ]
                                
    div#modal.modal
        .modal-content
            img.center(src="")
        .modal-footer
            a.modal-action.modal-close.waves-effect.waves-green.btn-flat.hoverable(href='#!') Cerrar

    div.fixed-action-btn
        a.btn-floating.btn-large.red(href="/home")
            i.large.material-icons arrow_left